

body{
    font-family: 'PT Serif' ;
    margin: 0;
    
}
h1{
    font-size: 40px;
    color: rgba(243, 79, 134, 0.979);
    font-weight: 900;
}

h2{
    font-size: 35px;
  
}

p{
 color: dimgray;
 text-align: justify;

}
.half-width{
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 2%;
    padding: 2%;
}
.half-width img{
    width: 50%;


}
.thr-half-width{
    width: 22%;
    float: left;
    margin-left: 10%;
}
.thr-half-width img{
    width: 40%;
    margin-bottom: 150px;
  
    

}
section.footer{
    height: 60%;
}
.header{
   
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;

}
.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    
    
}
.footer{
    background-image: url("images/footer-bg.png");
    background-repeat: no-repeat;

}
section{
    height: 560px;
    padding-bottom: 10px;
}
.link-button{
    text-decoration: none;
    background-color: rgba(243, 79, 134, 0.979); ;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}
h2.center{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 10%;
}
h4.center{
    text-align:center;
    margin-bottom:5px;
    
    padding: 20px 70px;
}
h5.center{
    text-align: center;
    color: dimgray;
    
}
.color-box{
    width: 40%;
    height: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 30%;
    border: 10px solid rgba(243, 79, 134, 0.979);
    border-radius: 5px;
    background-color:  rgba(243, 79, 134, 0.979);
    color: white;
}

.middle{
    text-align: center;
}
    

